@media (max-width: 1023px) {
   .hamburger { 
      display: block;
      margin-right: 1rem;
   }

   .hamburger.active .bar:nth-child(2) { opacity: 0; }

   .hamburger.active .bar:nth-child(1) { 
      transform: translateY(8px) rotate(45deg);
   }

   .hamburger.active .bar:nth-child(3) { 
      transform: translateY(-8px) rotate(-45deg);
   }

  .navbar.sticky {
      padding: var(--size-20) var(--size-10) 0 var(--size-10);
      top: 35px;
  }

  .nav-menu {
      position: fixed;
      left: 100%;
      top: 90px;
      text-align: center;
      transition: 0.3s;
      background-color: white;
      max-width: 100%;
      z-index: 90;
  } 

  .nav-container.active {}

   .nav-container.active ul {
      display: flex ;
      justify-content: space-around;
  }

  .nav-menu.active {
      left: 4.375rem;
      top: 83px;
      min-width: 45rem;
      height: 50vh;
      padding: var(--size-30) var(--size-100);
      border-top: 1px solid var(--font-color-light);
      box-shadow: 10px 10px 20px var(--font-color-light);
   }

   .nav-menu.active a {
      font-size: var(--size-18);
   }

   .nav-btn {
      position: fixed;
      left: 100%;
      top: 90px;
   }

   /* header */
   .bottom-header {
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   .hero-wrapper { 
      padding-top: 0; 
      text-align: center;
   }
   .hero-wrapper h2 { margin-top: 1rem;}

   .company-icons-container {
      width: 100%;
      height: 100px;
   }

   .logo-1 {
      position: absolute;
      top: 3rem;
      left: 8rem; 
   }
   
   .logo-2 {
      position: absolute;
      top: 3.225rem;
      left: 20rem;
   }
   
   .logo-3 {
      position: absolute;
      top: 3.25rem;
      right: 10rem;
   }
   
   .logo-4 {
      position: absolute;
      top: 9.5rem;
      left: 8rem;
   }
   
   .logo-5 {
      position: absolute;
      top: 9rem;
      right: 15rem;
   }
   
   .logo-6 {
      position: absolute;
      top: 15rem;
      left: 16.5rem;
   }
   
   .logo-7 {
      position: absolute;
      top: 15.225rem;
      right: 10rem;
   }

   /* key-benefits */
   section.key-benefits { margin: 12rem 0; }
   .card-container {
      margin: 2rem;
   }

   .key-card-container {
      min-width: 45%;
   }

   /* front-banner */
   .banner-wrapper {
      flex-direction: column;
      padding-top: 1em;
      align-items: center;
   }

   .banner-wrapper .block-text {
      text-align: center;
      margin-bottom: 1rem;
   }

   .sample-banner { width: 100%; }
   .banner-one-container { float: none; }

   /* dots on dots */
   .line {
      width: var(--size-50);
   }



} 

@media (max-width: 724px) {
   .logo-2 {
      position: absolute;
      top: 3.225rem;
      left: 14.225rem;
   }

   .logo-6 {
      position: absolute;
      top: 15rem;
      left: 13.5rem;
   }
}
   
