@media (max-width: 1023px) {
   .hamburger { 
      display: block;
      margin-right: 1rem;
   }

   .hamburger.active .bar:nth-child(2) { opacity: 0; }

   .hamburger.active .bar:nth-child(1) { 
      transform: translateY(8px) rotate(45deg);
   }

   .hamburger.active .bar:nth-child(3) { 
      transform: translateY(-8px) rotate(-45deg);
   }

  /* .navbar.sticky {
      padding: var(--size-20) var(--size-10) 0 var(--size-10);
      top: 35px;
  } */

  /* .nav-menu {
      position: fixed;
      left: 100%;
      top: 90px;
      text-align: center;
      transition: 0.3s;
      background-color: white;
      max-width: 100%;
      z-index: 90;
  }  */

  /* .nav-container.active {}

   .nav-container.active ul {
      display: flex ;
      justify-content: space-around;
  } */

   /* .nav-menu.active {
      left: 4.375rem;
      top: 83px;
      padding: var(--size-30) var(--size-100);
      border-top: 1px solid var(--font-color-light);
      box-shadow: 10px 10px 20px var(--font-color-light);
   }

   .nav-menu.active a {
      font-size: var(--size-18);
   }

   .nav-btn {
      position: fixed;
      left: 100%;
      top: 90px;
   }  */

   /* header */
   .bottom-header {
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   .hero-wrapper { 
      padding-top: 0; 
      text-align: center;
   }
   .hero-wrapper h2 { margin-top: 1rem;}

   .company-icons-container {
      width: 100%;
      height: 100px;
   }

   .logo-1 {
      position: absolute;
      top: 3rem;
      left: 8rem; 
   }
   
   .logo-2 {
      position: absolute;
      top: 3.225rem;
      left: 20rem;
   }
   
   .logo-3 {
      position: absolute;
      top: 3.25rem;
      right: 10rem;
   }
   
   .logo-4 {
      position: absolute;
      top: 9.5rem;
      left: 8rem;
   }
   
   .logo-5 {
      position: absolute;
      top: 9rem;
      right: 15rem;
   }
   
   .logo-6 {
      position: absolute;
      top: 15rem;
      left: 16.5rem;
   }
   
   .logo-7 {
      position: absolute;
      top: 15.225rem;
      right: 10rem;
   }

   /* key-benefits */
   section.key-benefits { margin-top: 12rem; }
   .card-container {
      margin: 2rem;

   }

   .card-container { flex-wrap: wrap; }

   .key-card-container { 
      flex-basis: 250px;
   }

   /* front-banner */
   .banner-wrapper {
      flex-direction: column;
      padding-top: 1em;
      align-items: center;
   }

   .banner-wrapper .block-text {
      text-align: center;
      margin-bottom: 1rem;
   }

   .sample-banner { width: 100%; }
   .banner-one-container { float: none; }

   /* dots on dots */
   .line { width: var(--size-50); }

   /* hubspot profile */
   .hub-spot .showcase {
      flex-direction: column;
      place-items: center;
      text-align: center;
   }

   .right-showcase .content-wrapper { margin: 0 auto; }
   .section-spacing { padding: 2em 0; }

   /* pricing */
   .main-wrapper {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: none;
   }

   .price-card { max-width: 100%; }
   .price-card br { display: none; }
   .price-card p {font-size: var(--size-20);}
   .price { justify-content: center; }

   .btn-bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .pricing-benefits { margin-left: 1rem; }

   /* Hire us */
   .flex-wrapper { flex-direction: column; }
   .testimonial {
      flex-direction: row;
      justify-content: space-between;
   }

   .top-testimonial hr { width: 100%; }

   /* footer */
   .links { flex-wrap: wrap;}
   .links-basis { flex-basis: 200px; }
}

@media (max-width: 724px) {
   .logo-2 {
      position: absolute;
      top: 3.225rem;
      left: 14.225rem;
   }

   .logo-6 {
      position: absolute;
      top: 15rem;
      left: 13.5rem;
   }
}
   
