header .container {
   padding: var(--size-30);
   background-image: url(/assets/backgrounds/background-top.svg);
}

nav {
   display: flex;
}

.website-logo-container {
   width: 280px;
   height: 180px;
   margin-right: auto;
}

.nav-container {
   display: flex;
   gap: var(--size-50);
   align-items: center;
   padding-bottom: 6.5rem;
   padding-right: var(--size-50)
}

.nav-container ul {
   display: flex;
   gap: var(--size-20);
}

.nav-container li a {
   font-size: var(--size-16);
   color: var(--font-color-base);
}

.nav-container li a:hover { color: var(--font-color-blue); }

.blue-btn a { color: var(--white) }

.hero-wrapper h2 {
   color: var(--font-color-dark);
   margin: 0 0 var(--size-10) 0;
   font-weight: 600;
}

.hero-wrapper p { margin-bottom: var(--size-20); }
.header-buttons .btn { margin-right: var(--size-20); }

.header-buttons > a { color: var(--font-color-blue); }

/* bottom of header */
.bottom-header {display: flex;}

.header-text {margin-right: auto;}

.company-icons-container{
   width: 31.25rem;
   position: relative;
}

.logo-circle {
   width: 3.75rem;
   height: 3.75rem;
   border-radius: 50%;
   background-color: var(--white);
   box-shadow: 0px 0px 10px grey;
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo-resize {
   width: var(--size-40);
   height: var(--size-40);
}

.icons-resize {
   width: var(--size-10);
   height: var(--size-10);
}

.logo-icons {
   width: var(--size-30);
   height: var(--size-30);
}

.logo-1 {
   position: absolute;
   top: -4.375rem;
   left: -3.125rem;
}

.logo-2 {
   position: absolute;
   top: -3.75rem;
   left: 5.625rem;
}

.logo-3 {
   position: absolute;
   top: -3.75rem;
   right: var(--size-50);
}

.logo-4 {
   position: absolute;
   top: 4.375rem;
   left: -4.375rem;
}

.logo-5 {
   position: absolute;
   top: 4.375rem;
   left: 12.5rem;
}

.logo-6 {
   position: absolute;
   bottom: -0.625rem;
   left: var(--size-100);
}

.logo-7 {
   position: absolute;
   bottom: -1.875rem;
   right: var(--size-100);
}

/* key benefits amd cards */
.block-text {
   text-align: center;
}

.block-text h2 {
   font-weight: 600;
   padding-top: var(--size-100);
   margin: 0;
}

.block-text p {
   padding: var(--size-14) 0;
}

.card-container {
   display: flex;
   justify-content: space-around;
   margin: var(--size-50) 0;
}

.key-card-container {
   padding: var(--size-10);
   border: 1px solid transparent;
   max-width: 200px;
   box-shadow: 0px 0px 10px rgba(106, 106, 106 , .5 );

}

.key-img {
   width: 40px;
   height: 40px;
}

.key-card-container h3 {
   color: var(--font-color-dark)
}